## Using ChatGPT to design a recursive MySQL Query

```
prompt:
write mysql recursive sql query for a table 
with columns id, name, type, parent_id, parent_name, parent_type 
sorted so that children go right under their parents
```

CREATE TABLE my_table (
  id INT NOT NULL,
  name VARCHAR(50) NOT NULL,
  type VARCHAR(50) NOT NULL,
  parent_id INT,
  parent_name VARCHAR(50),
  parent_type VARCHAR(50),
  PRIMARY KEY (id)
);

WITH RECURSIVE tree AS (
  SELECT id, name, type, parent_id, parent_name, parent_type, 0 AS level
  FROM my_table
  WHERE parent_id IS NULL
  UNION ALL
  SELECT t.id, t.name, t.type, t.parent_id, t.parent_name, t.parent_type, level + 1
  FROM my_table t
  INNER JOIN tree ON t.parent_id = tree.id
)
SELECT id, name, type, parent_id, parent_name, parent_type, level
FROM tree
ORDER BY COALESCE(parent_name, name), parent_id IS NULL, level, name;

## Can we do the same with window function?

SELECT id, name, type, parent_id, parent_name, parent_type, level
FROM (
  WITH RECURSIVE tree AS (
    SELECT id, name, type, parent_id, parent_name, parent_type, 0 AS level
    FROM my_table
    WHERE parent_id IS NULL
    UNION ALL
    SELECT t.id, t.name, t.type, t.parent_id, t.parent_name, t.parent_type, level + 1
    FROM my_table t
    INNER JOIN tree ON t.parent_id = tree.id
  )
  SELECT id, name, type, parent_id, parent_name, parent_type, level,
         ROW_NUMBER() OVER (
           PARTITION BY COALESCE(parent_name, name)
           ORDER BY name
         ) AS rank
  FROM tree
) subquery
ORDER BY COALESCE(parent_name, name), parent_id IS NULL, level, rank;

## Corrections:

- sort by name, not by id
- add column "client_id" to the table.
- select tree only for a specific client_id
- do NOT use window function
- use the word "mytree"
- add a column to the output containing the name indented according to the "level"
- put this SQL into a stored procedure accepting one argument for client_id and show example of how to invoke this stored procedure from SQL and from Python

DELIMITER //

CREATE PROCEDURE mytree_by_client(IN client_id INT)
BEGIN
  WITH RECURSIVE mytree AS (
    SELECT id, name, type, parent_id, parent_name, parent_type, client_id, 0 AS level
    FROM my_table
    WHERE parent_id IS NULL AND client_id = client_id
    UNION ALL
    SELECT t.id, t.name, t.type, t.parent_id, t.parent_name, t.parent_type, t.client_id, level + 1
    FROM my_table t
    INNER JOIN mytree ON t.parent_id = mytree.id
    WHERE t.client_id = client_id
  )
  SELECT id, LPAD('', level, '  ') || name AS indented_name, type, parent_id, parent_name, parent_type, level
  FROM mytree
  ORDER BY COALESCE(parent_name, name), parent_id IS NULL, level, name;
END//

DELIMITER ;


CALL mytree_by_client(123);

# calling from Python:

mycursor = mydb.cursor()

# call the stored procedure with a specific client_id
client_id = 123
mycursor.callproc("mytree_by_client", [client_id])

# fetch all the rows returned by the stored procedure
result = mycursor.fetchall()

### Final version (after manual tuning)

DROP PROCEDURE dimentions_by_client;
CREATE PROCEDURE dimentions_by_client(IN cl_id BIGINT)
BEGIN
    WITH RECURSIVE cte AS (
        SELECT 
            dim_id, dim_name, dim_type, 
            parent_id, disp_name, dim_code, 
            client_id, 
            0 AS mylevel,
            CAST(CONCAT(dim_type,"~~",dim_name) AS CHAR(200)) AS dpath,
            CAST(CONCAT(dim_id) AS CHAR(200)) AS idpath
        FROM client_dimentions
        WHERE parent_id = 0 
        AND is_active = 1 
        AND client_id = cl_id

        UNION ALL

        SELECT 
            t.dim_id, t.dim_name, t.dim_type, 
            t.parent_id, t.disp_name, t.dim_code, 
            t.client_id, 
            mylevel + 1 as mylevel,
            CONCAT(cte.dpath, "~~~", t.dim_type, "~~", t.dim_name),
            CONCAT(cte.idpath, "_", t.dim_id)
        FROM client_dimentions t
        INNER JOIN cte ON t.parent_id = cte.dim_id
        WHERE t.is_active = 1 AND t.client_id = cl_id
    )

    SELECT 
        dim_id, parent_id, dim_type, dim_name, 
        disp_name, dim_code, idpath,
        REPLACE( REPLACE(dpath,"~~~","->"), "~~",":") as 'path'
    FROM cte
    ORDER BY dpath;
END;